#img-header {
    width: 130px;
    margin-left: 8%;
}

#menu {
    margin: auto;
}

main {
    /*display: flex;
    align-items: flex-start;
    justify-content: center;*/
    padding-top: 15%;
    background-color: #745d97;
    padding-bottom: 13%;
}

section {
    /*display: flex;
    align-items: flex-start;
    justify-content: center;*/
    padding-top: 15%;
    padding-bottom: 5%;
    background-color: #745d97;
}

footer {
    /*display: flex;
    align-items: flex-start;
    justify-content: center;*/
    background-color: rgb(158, 88, 135);
}