#nav-container {
    background: rgb(98,189,190);
    background: linear-gradient(149deg, rgba(98,189,190,1) 8%, rgba(224,186,103,1) 80%);

}

#img-header {
    width: 130px;
    margin-left: 8%;
}

#linha {
    max-width: 5px;
}

#menu {
    margin: 2%;
}

main, section {
    /*display: flex;
    align-items: flex-start;
    justify-content: center;*/
    padding-top: 6%;
    padding-bottom: 13%;
    background: rgb(89,189,190);
    background: linear-gradient(77deg, rgba(89,189,190,1) 0%, rgba(223,181,92,1) 80%);

}

#link-insta {
    padding-top: 20px;
}

#cor_button {
    background-color: #ec95d2;
}
